html,
body {
	min-width: 1580px;
	min-height: 100px;
}

body {
	margin: 0 auto;
	width: 1580px;
	display: flex;
	flex-direction: column;
}

.block {
	margin: 0;
	padding: 0;
	width: 1580px;
	outline: 1px solid yellow;
	min-height: 100px;
}
/**========================================================================**/
.block1 {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.main_navigation {
	margin: 0 auto;
	padding: 0;
	outline: 1px solid green;
	min-height: 90px;
	width: 1250px;
}
.main_navigation_list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}
.main_navigation_list .item {
	margin: 0;
	padding: 10px 25px;
	outline: 1px solid blue;
	background: red;
}

.content_header {
	margin: 0 auto;
	padding: 0;
	outline: 1px solid green;
	min-height: 90px;
	width: 1250px;
	display: flex;
	justify-content: space-between;
}
.content_header .text {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
	min-height: 100px;
	width: 600px;
}
.content_header .video {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
	min-height: 100px;
	width: 550px;
}
/**========================================================================**/
.block2 {
	margin: 0 auto;
	padding: 0;
	width: 1250px;
	display: flex;
	justify-content: space-between;
}
.features_text {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
	width: 515px
}
.features_list {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
	width: 615px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.features_list .item {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
	width: 275px;
}
/**========================================================================**/
.block3 {
	margin: 0 auto;
	padding: 0;
	width: 1250px;
	display: flex;
	flex-direction: column;
}
.products_text {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
}
.products_menu {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
	display: flex;
	justify-content: center;
}
.products_menu .item {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
	min-width: 20px;
}
.products_list {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.products_list .item {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	outline: 1px solid blue;
	width: 300px;
	height: 290px;
}
/**========================================================================**/
.our_team {
	margin: 0 auto;
	padding: 0;
	width: 1250px;
	display: flex;
	flex-direction: column;
}
.greeting {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 100px;
	width: 460px;
}
.about_team {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	min-height: 460px;
	position: relative;
}
.about_team .image {
	margin: 0;
	padding: 0;
	outline: 1px solid blue;
	width: 320px;
	height: 460px;
	position: absolute;
}
.about_person {
	margin: 0;
	margin-left: 400px;
	padding: 0;
	outline: 1px solid blue;
	width: 635px;
	min-height: 20px;
}
.person_social {
	margin: 0;
	padding: 0;
	display: flex;
}
.person_social .item {
	margin: 0;
	padding: 0;
	height: 20px;
	width: 90px;
}
.team_list {
	margin: 0;
	margin-left: 400px;
	padding: 0;
	outline: 1px solid blue;
	width: 850px;
	display: flex;
	justify-content: space-between;
}
.team_list .item {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	width: 195px;
	height: 215px;
}
/**========================================================================**/
.subscribe {
	text-align: center;
}
/**========================================================================**/
.feedback {
	position: relative;
}
.feedback_text {
	width: 725px;
	min-height: 160px;
	outline: 1px solid green;
}
.feedback_message {
	width: 725px;
	min-height: 160px;
	outline: 1px solid green;
}
.contacts {
	width: 725px;
	min-height: 160px;
	outline: 1px solid red;
	position: absolute;
	bottom: 0;
	right: 0;
}
/**========================================================================**/
.main_footer {
	margin: 0;
	padding: 0;
	width: 1580px;
	outline: 1px solid yellow;
	min-height: 100px;
	display: flex;
	justify-content: space-around;
}
.social_list {
	margin: 0;
	padding: 0;
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.social_list .item {
	margin: 0;
	padding: 0;
	outline: 1px solid green;
	width: 20px;
	height: 20px;
}





















